<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>meadowlark Travel</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header><img src="/img/logo.jpg" alt="mead logo travel"></header>
	{{{body}}}
</body>
</html>